@import '../../style/variables.scss';

mat-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    cdk-virtual-scroll-viewport.scrolling-area {
        flex-grow: 1;
        border: solid 2px rgb(207, 207, 207);
        border-radius: 4px;
        padding-bottom: 6px;
        margin-bottom: 6px;
        text-align: left;
        overflow-x: hidden;

        &::ng-deep div.cdk-virtual-scroll-content-wrapper {
            width: 100% !important;
            max-width: 100% !important;
        }

        .scroll-item {
            padding: 0 12px;
            box-sizing: border-box;

            p {
                margin: 0;
                word-wrap: break-word;

                &.date {
                    text-align: center;
                    font-size: 0.85em;
                    opacity: 0.55;
                }

                &.message {
                    width: fit-content;
                    max-width: 80%;
                    padding: 4px 12px;
                    border-radius: 0.25em;
                }
            }

            &:first-child {
                margin-top: 12px;

                p.message {
                    padding: 4px 0;
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                }
            }

            &.system,
            &.system-error {
                text-align: center;

                &.system-error {
                    color: tomato;
                }

                p.message {
                    width: 100%;
                    max-width: 100%;
                    margin: 8px 0;
                    opacity: 0.8;
                    padding: 4px 0;
                }

                & + .me p.message,
                & + .opponent p.message {
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                }
            }

            &.opponent {
                p.message {
                    background: rgb(var(--primary));
                    color: white;
                    border-top-right-radius: 1em;
                    border-bottom-right-radius: 1em;
                }

                & + .opponent {
                    margin-top: 3px;
                }

                & + .me p.message {
                    margin-top: 8px;
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                }
            }

            &.me {
                p.message {
                    margin-left: auto;
                    background: rgb(216, 216, 216);
                    border-top-left-radius: 1em;
                    border-bottom-left-radius: 1em;
                }

                & + .me {
                    margin-top: 3px;
                }

                & + .opponent p.message {
                    margin-top: 8px;
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                }
            }
        }
    }
}
