@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(3px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(3px) rotate(-360deg);
    }
}

@keyframes wiggle {
    0% {
        rotate: 0;
    }

    25% {
        rotate: -3deg;
    }

    75% {
        rotate: 3deg;
    }

    100% {
        rotate: 0;
    }
}

@keyframes blinking {
    0% {
        visibility: visible;
        opacity: 1;
    }

    74% {
        visibility: visible;
        opacity: 1;
    }

    75% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes pulse-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.075);
    }

    100% {
        transform: scale(1);
    }
}
