// @import '../../style/variables.scss';

// ::ng-deep body {
//     background: $page-background;
// }

// .page {
//     height: 100%;
//     width: 100%;

//     #content {
//         padding-top: $header-height + 12px;
//         max-width: $page-max-width;
//         margin: 0 auto;
//     }
// }