.page {
    padding-top: 60px;

    h3 {
        text-align: center;
        font-weight: 600;
        font-size: 1.3em;
    }
    .page-content {
        padding: 16px 24px;
        max-width: 450px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .search-result-item.connected-user {
        box-shadow: inset 0 0 0 2px rgb(var(--primary));
      }

    app-icon{
        font-size: 2em;
        width: 30px;

    }
    .gold {
        color: #FFD700; /* Set the color for gold */
    }

    .silver {
        color: #C0C0C0; /* Set the color for silver */
    }

    .bronze {
        color: #CD7F32; /* Set the color for bronze */
    }

    .search-field {
        width: 100%;
        border: none;
        background-color: rgb(233, 233, 233);
        font-size: inherit;
        font-family: inherit;
        padding: 12px 24px;
        box-sizing: border-box;
        border-radius: 100px;
        outline: none;
    }

    .search-results-header {
        display: grid;
        grid-template-columns: 1fr 5fr auto;
        padding: 12px;
    }

    .search-results-header-item{
        font-weight: 500;
    }

    .search-help {
        opacity: 0.55;
        font-size: 0.9em;
        font-weight: 600;
    }

    .search-results {
        display: flex;
        flex-direction: column;
    }


    #ranking {
        font-size: 2em;
        font-weight: 600;
        width: 30px;
        text-align: center;
    }

    .search-result-item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
        padding: 12px 12px 12px 5px;
        align-items: center;
        color: inherit;
        text-decoration: inherit;
        border-radius: 6px;
        background: none;
        border: none;
        font-size: inherit;
        font-family: inherit;
        cursor: pointer;
        text-align: inherit;

        img {
            height: 42px;
            width: 42px;
            border-radius: 42px;
            background-color: rgb(233, 233, 233);
            border: none;
        }

        .player-info {
            display: grid;
            grid-template-columns: minmax(0, 1fr) auto;
            align-items: center;
        }

        .left-info {
            display: grid;
            grid-template-columns: auto auto;
            gap: 16px;
            align-items: center;
        }
        .info {
            font-size: 1.2em;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }


        &:hover {
            background-color: rgb(247, 247, 247);
        }

        &:active {
            scale: 0.95;
            background-color: rgb(247, 247, 247);
        }
    }
}
