// @import '../../style/variables.scss';

// .primary {
//     color: rgb(var(--primary));
// }

// #container {
//     display: flex;
//     flex-direction: column;
//     text-align: center;
//     justify-content: space-evenly;
//     height: 80%;
// }

// #buttons-container {
//     text-align: right;
// }

// .form-field {
//     width: 80%;
// }

