// .title {
//     font-size: 0.9em;
//     font-weight: 500;
//     opacity: 0.65;
//     margin-bottom: 4px;
// }

// #objective-box-container {
//     overflow-y: auto;
//     max-height: 330px;
// }
