@import '../../style/variables.scss';

.bold-primary {
    font-weight: 500;
    font-size: 1.3em;
}

.bold-big {
    font-weight: 500;
    font-size: 1.5em;
}

.buttons-container {
    display: flex;
    text-align: right;
    margin-top: 25px;
    justify-content: space-between;

}

.content {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.center{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 15px 0px;
}

.password-field {
    width: 250px;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
}