// @import '../../style/variables.scss';

// .primary {
//     color: rgb(var(--primary));
// }

// .secondary {
//     opacity: 0.45;
// }

// .container {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     height: 100%;
// }

// .input-container {
//     display: flex;
//     flex-direction: row;
//     height: 20px;
// }

// .buttons-container {
//     text-align: right;
// }

// .select-button {
//     display: flex;
//     width: 45%;
// }

// .column-1 {
//     display: flex;
//     width: 20%;
// }
// .column-2 {
//     display: flex;
//     width: 80%;
// }

// .feedback-box-1 {
//     display: flex;
//     margin-left: 5px;
// }

// .error {
// border-radius: 4px;
// border: 2px solid tomato;
// padding: 5px
// }

// .ready {
// border-radius: 4px;
// border: 2px solid rgb(var(--primary));
// padding: 5px;
// }

// .init {
// border: none;
// }