:ng-root {
    html,
    body {
        overflow: hidden;
        height: 100%;
    }
}
#tiles {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    app-tile {
        position: absolute;
        &:nth-child(1) {
            height: calc(8vw + 8vh);
            width: calc(8vw + 8vh);
            bottom: -3vh;
            left: 4vw;
            font-size: calc(4vw + 4vh);
            transform: rotate(-7deg);
        }
        &:nth-child(2) {
            height: calc(5vw + 5vh);
            width: calc(5vw + 5vh);
            bottom: 20vh;
            left: 6vw;
            font-size: calc(2.5vw + 2.5vh);
            transform: rotate(7deg);
        }
        &:nth-child(3) {
            height: calc(6vw + 6vh);
            width: calc(6vw + 6vh);
            top: 50%;
            right: 4vw;
            font-size: calc(3vw + 3vh);
            transform: rotate(5deg) translateY(-50%);
        }
        &:nth-child(4) {
            height: calc(3vw + 3vh);
            width: calc(3vw + 3vh);
            top: 3vh;
            right: 4vw;
            font-size: calc(1.5vw + 1.5vh);
            transform: rotate(8deg);
        }
        &:nth-child(5) {
            height: calc(10vw + 10vh);
            width: calc(10vw + 10vh);
            top: 8vh;
            left: -2vw;
            font-size: calc(5vw + 5vh);
            transform: rotate(16deg);
        }
        &:nth-child(6) {
            height: calc(7vw + 7vh);
            width: calc(7vw + 7vh);
            top: 14vh;
            right: 3vw;
            font-size: calc(3.5vw + 3.5vh);
            transform: rotate(-4deg);
        }
        &:nth-child(7) {
            height: calc(12vw + 12vh);
            width: calc(12vw + 12vh);
            bottom: -4vh;
            right: -3vw;
            font-size: calc(6vw + 6vh);
            transform: rotate(-10deg);
        }
    }
}

#page-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .content {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: (60px + 36px) 24px 36px 24px;
        box-sizing: border-box;
        gap: 36px;
        flex-shrink: 0;

        img {
            width: calc(40vw + 30vh);
            max-width: 800px;
        }

        #button-group {
            display: flex;
            flex-direction: column;
            button {
                width: 100%;
                font-size: 1.4em;
                padding: 8px 24px;
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
        }
        .footer-item {
            text-align: center;
            h4 {
                margin: 0 0 6px 0;
                font-size: 1.3em;
                font-weight: 500;
            }
            p {
                margin: 0;
                font-size: 1.1em;
                max-width: 400px;
                span {
                    display: inline-flex;
                    align-items: center;
                    margin: 0 4px;

                    .home-tile-name {
                        max-height: 20.46px;
                    }
                }
                app-tile {
                    display: inline-block;
                    height: 2em;
                    width: 2em;
                    font-size: 0.6em;
                    margin-right: 2px;
                }
            }
        }
    }
    #background {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: center !important;
        background-size: cover !important;
        opacity: 0.3;
        z-index: -2;
    }
}
