@import '../../../style/variables.scss';

.puzzle-history {
    display: grid;
    grid-template-columns: 20px 1fr auto;
    align-items: center;
    height: 35px;
    padding-bottom: 6px;
    margin-bottom: 6px;

    p {
        margin: 0;
    }

    .index {
        font-size: 0.9em;
        opacity: 0.55;
        font-weight: 600;
    }

    .points {
        background-color: rgb(var(--primary));
        color: white;
        padding: 6px 12px;
        border-radius: 4px;
        display: flex;
        gap: 5px;
        align-items: flex-end;

        .user-points {
            font-weight: 500;
        }

        .total-points {
            font-size: 0.9em;
            opacity: 0.55;
            font-weight: 500;
        }
    }

    &:not(:last-child) {
        border-bottom: solid 1px rgba(0, 0, 0, 0.08);
    }
}
