.user-profile-stats-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-shrink: 0;

    .title, .value {
        margin: 0;
        line-height: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 0.9em;
        text-transform: uppercase;
        font-weight: 600;
        opacity: 0.55;
    }

    .value {
        font-weight: 1000;
        font-size: 2em;
    }
}