@import '../../style/utils.scss';
@import '../../style/variables.scss';

mat-card {
    height: 600px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

      .players-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .player-row {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .player {
        display: flex;
        align-items: center;
        background-color: rgb(225, 231, 227);
        border-radius: 50px;
        padding: 10px;
        margin: 10px;
        width: 200px;
      }
      
      .player img {
        width: 50px;
        border-radius: 50%;
      }

      .app-icon-container {
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 50px;
        height: 50px;
        
        app-icon {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          color: rgb(var(--primary));
        }
      }
      
      .player-details {
        display: flex;
        flex-direction: column;
      }
      
      .player-name {
        color: rgb(var(--primary));
        font-size: 17px;
        font-weight: bold;

        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        max-width: 140px; 
        width: 140px; 
        padding-left: 10px;
      }
      
      .vs-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .vs {
        font-size: 20px;
        font-weight: bold;
        color: rgb(var(--primary));
      }

    .info-container {
        border-radius: 5px;
        padding: 10px;
        display: flex;
        align-items: center;
        
        .chip-list {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          width: 100%;
        }
        
        .chip {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #d9d9d9;
          border-radius: 10px;
          padding: 10px 10px;
          font-size: 14px;
          color: #333;
          width: 100px;

          
          app-icon {
            margin-right: 8px;

          }
        }
      }
      
    .button-box {
        display: flex;
        height: 50px;
        align-content: center;

        .button {
            margin-bottom: 6px;
            width: 100%;
            margin-left: 10px;
            margin-right: 10px;
        }
        app-icon {
            margin-right: 8px;
          }
    }
}