@import '../../style/variables.scss';

#timer-selection-container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 45%);
    gap: 12px;

    #timer-selection-button-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        height: 51px;
        margin-top: 3px;
        
        button {
            font-size: 1.2em;
            border: solid 1px rgba(var(--primary), 0.1);
            background-color: rgba(var(--primary), 0.15);

            &:hover {
                border: solid 2px black;
            }
        }
    }
}
