.game-tiles-left {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: center;

    &__icon {
        font-size: 1.8em;
    }

    &__info {
        text-align: right;

        &__value {
            font-size: 2em;
            font-weight: 600;
        }

        &__label {
            font-size: 0.9em;
            font-weight: 500;
            opacity: 0.55;
        }
    }
}
