// @import '../../style/variables.scss';

// ::ng-deep body {
//     background: $page-background;
// }

// $border-radius: 6px;

// :host ::ng-deep {
//     span.mat-button-toggle-label-content {
//         line-height: 1em;
//         height: 100%;
//         width: 100%;
//         padding: 0;
//         border-radius: $border-radius;
//     }
// }

// $border-radius: 6px;

// .container {
//     max-width: 625px;
//     width: 60vw;
//     margin: 0 auto;

//     & > mat-card {
//         margin: 0 12px;
//     }

//     form {
//         mat-button-toggle-group,
//         mat-form-field {
//             width: 100%;
//         }

//         mat-button-toggle-group {
//             margin-bottom: 1.34375em;
//         }

//         mat-button-toggle-group {
//             display: grid;
//             grid-template-columns: repeat(2, 1fr);
//             gap: 12px;
//             border: none;
//             overflow: visible;

//             mat-button-toggle-label {
//                 width: 100%;
//             }

//             mat-button-toggle {
//                 border-radius: $border-radius;
//                 background: transparent;
//                 border: none;
//                 overflow: visible;
//                 width: 100%;

//                 mat-card.content {
//                     background: white;
//                     border-radius: $border-radius;
//                     border: none;
//                     box-sizing: border-box;
//                     display: block;
//                     width: 100%;
//                     border: solid 1px rgb(236, 236, 236);
//                     padding: 8px;
//                 }
//                 p,
//                 app-icon {
//                     margin: auto;
//                     line-height: 1em !important;
//                 }

//                 app-icon {
//                     font-size: 1.3em;
//                     margin-bottom: 0.3em;
//                     display: block;
//                 }

//                 p {
//                     font-size: 0.9em;
//                 }

//                 &.mat-button-toggle-checked {
//                     mat-card.content {
//                         background-color: rgba(var(--primary), 0.15);
//                         border: solid 1px rgba(var(--primary), 0.1);
//                         app-icon {
//                             color: rgb(var(--primary));
//                         }
//                     }
//                 }

//                 &.mat-button-toggle-disabled {
//                     mat-card.content {
//                         background-color: rgb(241, 241, 241);
//                         border-color: rgb(241, 241, 241);
//                         color: rgba(0, 0, 0, 0.459);
//                     }
//                 }
//             }
//         }

//         mat-label.button-toggle-label {
//             display: block;
//             margin-bottom: 0.25em;
//         }

//         app-timer-selection {
//             display: block;
//         }
//     }

//     .buttons {
//         display: flex;
//         justify-content: space-evenly;

//         button {
//             font-size: 1.2em;
//             padding: 6px 16px;
//         }
//     }
// }
// .mat-button-toggle-label-content {
//     width: 100%;
// }

// ::ng-deep snack-bar-container.error {
//     background: lighten(tomato, 30%);
//     color: tomato;

//     button {
//         color: tomato;
//     }
// }
